body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    background-color: black;
    color: white;
    font-size: 16px;
}

a {
    color: inherit;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

ul {
    padding: 0px;
    margin: 0;
}

ul li {
    list-style: none;
}

*{
    box-sizing: border-box;
}

p {margin-top:0;}

.wrapper {
    margin: 0 auto;
    width: 1140px;
}

.main_page_wrapper {
    background: url(./lion-header.jpg) center top no-repeat, url(./bottom-pic.png) right bottom no-repeat;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 170px;
}

.logo {
    display: block;
    position: absolute;
    margin-top: 57px;
    left: 0px;
}

.menu {
    position: absolute;
    margin-top: 61px;
    left: 263px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item--active .menu__link{
color:#d3a557
}

.menu__item:hover {
    color: #dfb56d;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.contacts {
    position: absolute;
    margin-top: 44px;
    right: 5px;
    font-style: normal;
    text-align: right;
}

.contacts__number {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: -2px;
}


.contacts__timetible {
    font-size: 13px;
    text-decoration: none;
    color: #dfb56d;
    margin-right: 4px;
}

.contacts__text {
    color: #99999b;
}

.preview {
    width: 450px;
    height: 314px;
    margin-bottom: 165px;   
}

.preview__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.26;
    margin-bottom: 24px;
    letter-spacing: 1.7px;

}

.preview__description {
    font-size: 18px;
    line-height: 20px;
    color: #dfb56d;
    margin-bottom: 61px;
}

.button {
    background-color: #dfb56d;
    border-radius: 2px;
    padding: 16px 39px;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}


.button_color_orange:hover {
    background-color: #d3a556;
    box-shadow: 0 0 25px 0 rgba(223, 181, 109, 0.5);
}

.button_color_black {
background-color: #2B2B2B
}

.button_color_black:hover {
    background-color: #d3a556;
}

.product {
    margin-bottom: 128px;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 57px;
}

.product__item {
    min-height: 470px;
    background: #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
    overflow: hidden;
}

.product__icon {
    min-height:77px;
    margin-bottom: 52px;
    position: relative;
}

.product__icon:before {
content: "";
width:333px ;
height:315px;
display: block;
border-radius: 56%;
position: absolute;
top: -142px;
right: -142px;
background: #666666;
}

.prosuct__img {
    position: absolute;
    left: 38%;
    top: 67%;
}

.product__item:last-child {
    margin-right: 0px;
}
.product__item_range_grey .product__icon:before {
background: #a5a5a4;
}

.product__item_range_blu .product__icon:before {
    background: #556180;
}

.product__item_range_gold .product__icon:before {
    background: #978455;
}
.product__info {
    padding: 56px 29px;
    color: black;
}

.product__subtitle{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.product_praces-cell{
    display: inline-block;
    vertical-align: top;
    width: 137px;
    margin-right: 7px;
}

.product_praces-cell:last-child {
    margin-right: 0px; 
}

.product__prace{
    font-size:36px;

}

.product__prace-desc {
    font-size: 16px;
    color: #666666;
}

.product__praces{
margin-bottom: 65px;
}

.product__button-wrapper {
    text-align: center;
}

.news__item {
    width: 555px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 25px;
    margin-bottom: 30px;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 30%;
    
}

.news__info {
    position: absolute;
    right: 0;
    left: 0;
    bottom:0;
    padding: 25px 30px;
    min-height: 148px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 18px;
}
.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.news {
    margin-bottom: 55px;
}

.paginator {
    text-align: center;
    margin-bottom: 159px;
    
}

.paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}

.paginator__list {
    letter-spacing: -0.9px;
}

.paginator__display {
    margin-right: -2px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius:50% ;
    text-decoration: none;
    line-height: 32px;
}

.paginator__item_active .paginator__link
{
    background-color: #353439;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 488px;
    height: 502px;
    background: url("./chess-3325010.jpg") center center/cover no-repeat;
}

.about__info {
    background: #202123;
    padding: 76px 105px;
    display: inline-block;
    vertical-align: top;
    width: 783px;
    height: 458px;
    margin-left: -136px;
    margin-top: 89px;
    border-radius: 5px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}

.about__text
{
    margin-bottom: 71px;
}

.about__text.news__item:last-child {
    margin-bottom: 0;
}

.footer {
    height: 120px;
    position: relative;
    margin-bottom: 170px;
    margin-left: 758px;
    width: 1154px;
}
.social{
    top: 54px;
    right: 277px;
    position: absolute;
}
.social__icon {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
}

.social__list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;

}




}
