.contacts {
    font-style: normal;

}

.contacts__number {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: -2px;
}


.contacts__timetible {
    font-size: 13px;
    text-decoration: none;
    color: #dfb56d;
    margin-right: 4px;
    position: relative;
    text-align: right;

}

.contacts__timetible:hover .drop-down-list {
    display: block;
    cursor: pointer;
}

.contacts__text {
    color: #99999b;
}

.drop-down-list {
    position: absolute;
    display: none;
    background: #EDEDED;
    font-size: 13px;
    color: black;
    width: 160px;
    height: 60px;
    border-radius:7px;
    margin-top: 10px;
    padding: 15px;
}
.drop-down-list:before {
    content: ''; 
    position: absolute;
    right:24px; top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #EDEDED;
}

.drop-down-list__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  
}
.drop-down-list__list_font_bold {
    font-weight: bold;
}
