.home {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url('../../splash.jpg') center bottom / cover no-repeat;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: jump 1.3s;
    opacity: 0;
    animation-fill-mode: forwards;
}
    



@keyframes jump {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-30px);
    }

    35% {
    transform: translateY(0);
}

    50% {
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-4px);
    }

    85% {
        transform: translateY(0);
    }

    100% {
    opacity: 1;
    } 