.page__title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}

.page-content {
    background-color: #fff;
    color: #303030;
    padding: 40px 0 0;
}

.page-container {
    margin-bottom: 129px;
}

.page-container-2 {
    margin-bottom: 76px;
}

.page-content-2 {
    margin-bottom: 92px;
}

.content__comment {
    background-color: #fff
}