.preview {
    width: 450px;
    margin-bottom: 165px;
}

.preview__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.26;
    margin-bottom: 24px;
    letter-spacing: 1.7px;

}

.preview__description {
    font-size: 18px;
    line-height: 20px;
    color: #dfb56d;
    margin-bottom: 61px;
}