.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 84px;
}

.service__img {
    width: 30%;
    margin-right: 7%;
}

.service-item {
    display: flex;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #202020;
}

.service__desk {
    line-height: 1.7;
    margin-bottom: 30px;
}

.sevice__link {
    display: flex;
    text-decoration: none;
    padding: 98px 0 22px 0px;
}

.sevice__link:hover {
    background-color: #F5F5F5;
}