.social {
    margin-right: 74px;
}

.social__icon {
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.social__list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.social__list:first-child {

margin-left: 0;
}